		<!-- Out of page
		================================================== -->
		<!-- Fixed navigation -->		
		<div class="ktr-button-moon-bubble">
			<input id="moon-bubble" name="moon-bubble" type="checkbox" hidden>
			<span>
				<em><a class="th-tesis" href="http://blog.acozar.com/search/label/Tesis" data-title="Tesis"><img src="http://acozar.github.io/src/img/ktr-icons-tesis.png" alt="Tesis"></a></em>
				<em><a class="th-antitesis" href="http://blog.acozar.com/search/label/Antitesis" data-title="Antítesis"><img src="http://acozar.github.io/src/img/ktr-icons-antitesis.png" alt="Antítesis"></a></em>
				<em><a class="th-sintesis" href="http://blog.acozar.com/search/label/Sintesis" data-title="Síntesis"><img src="http://acozar.github.io/src/img/ktr-icons-sintesis.png" alt="Síntesis"></a></em>
				<em><a class="th-dialectica" href="http://acozar.github.io/codex/dialectica.html" data-title="Dialèctica"><img src="http://acozar.github.io/src/img/ktr-icons-dialectica.png" alt="Dialèctica"></a>
			</span>
			<em><label class="th-switcher" for="moon-bubble" title="Menú"><svg id="moon" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" version="1.1"/></label></em>
		</div>		
		<div class="ktr-button-sun-bubble">
			<input id="bubble" name="bubble" type="checkbox" hidden>
			<span>
				<em><label class="th-nox" for="theme-nox" data-title="Nox"></label></em>
				<em><label class="th-vesperum" for="theme-vesperum" data-title="Vesperum"></label></em>
				<em><label class="th-meridianus" for="theme-meridianus" data-title="Meridianus"></label></em>
				<em><label class="th-aurora" for="theme-aurora" data-title="Aurora"></label></em>
			</span>
			<em><label class="th-switcher" for="bubble" title="Themes"><b id="sun-phase"><img src="https://acozar.github.io/src/img/sun-burning.gif"></b></label></em>
		</div>		
