/* KTR - "Kotar Wa Hasis" CSS by Acózar 2018 */

@import url('https://fonts.googleapis.com/css?family=Roboto:100');

body {
	font-family: 'Roboto', sans-serif;
}

/* KTR recurrent elements */

.page {
	text-align: center;
}

.ktr-screen {
	border: none;
	height: 98vh;
	min-height: 600px;
}
.ktr-footer {
	background-position: center bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url('../img/bgacozar.png');
	padding-top: 800px;
}
@media screen and (max-width: 1024px) {
	.ktr-footer {
		background-size: 100%;
	}
}
.ktr-box {
	border-top: 1px solid currentColor;
	border-bottom: 1px solid currentColor;
	min-height: 120px;
}

/* KTR  positions */

.ktr-button-logo,
.ktr-button-tools,
.ktr-button-moon-phase {
	position: fixed;
	z-index: 10;
}

.ktr-button-logo {
	top: 8px;
	left: 8px;
	height: 96px;
	width: 96px;
}
.ktr-button-tools {
	bottom: 8px;
	left: 8px;
}
.ktr-button-moon-phase {
	top: 8px;
	right: 8px;
}
.ktr-button-moon-phase em a {
	padding-top: 20px;
}
.ktr-button-clock-reverse {
	display: block;
	position: absolute;
	top: 75vh;
	right: 8px;
	-webkit-animation: rotation 10s infinite linear;
	-moz-animation: rotation 10s infinite linear;
	-o-animation: rotation 10s infinite linear;
	animation: rotation 10s infinite linear;
	opacity: .5;
}
.ktr-button-solaris {
	display: block;
	position: absolute;
	bottom: 15vh;
	right: 8px;
}


/* KTR emphatic labels */

[class*='ktr-button'] a,
[class*='ktr-button'] label {
	background-color: #ffffff;
	border-radius: 50%;
	border-color: currentColor;border: none;
	font-size: 64px;
	padding: 14px;
	line-height: 64px;
	width: 96px;
	height: 96px;
}
[class*='ktr-button'] img,
[class*='ktr-button'] svg {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 64px;
	height: 64px;
}
@media screen and (max-width: 1024px) {
	[class*='ktr-button'] a,
	[class*='ktr-button'] label {
		font-size: 32px;
		padding: 6px;
		line-height: 46px;
		width: 64px;
		height: 64px;
	}
	[class*='ktr-button'] img,
	[class*='ktr-button'] svg {
		display: block;
		position: relative;
		margin: 0 auto;
		width: 52px;
		height: 52px;
	}
	.ktr-button-moon-phase em a {
		padding-top: 12px;
	}
}

/* KTR Modals */

.ktr-modal {
	background-color: #ffffff;
	color: #000;
	top: 0;
	left: 0;
	bottom: 0;
	padding: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	z-index: 100;
	tranform: translate3D(0, 0, 600px);
}

/* KTR tooltip */

.ktr-tooltip {
	position: relative;
}
.ktr-tooltip span {
	background-color: inherit;
	border-radius: 4px;
	content: attr(data-title);
	padding: 8px 0;
	bottom: -100%;
	left: -20%;
	right: -20%;
	min-width: 128px;
	position: absolute;
	text-transform: uppercase;
	z-index: 5;
	-webkit-animation: fadeIn .3s ease both;
	-moz-animation: fadeIn .3s ease both;
	-o-animation: fadeIn .3s ease both;
	animation: fadeIn .3s ease both;
}


/* KTR Clock */

@-webkit-keyframes rotation {
  from { -webkit-transform: rotate(0deg); }    
  to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes rotation {
  from { -moz-transform: rotate(0deg); }    
  to { -moz-transform: rotate(360deg); }
}

@-o-keyframes rotation {
  from { -o-transform: rotate(0deg); }    
  to { -o-transform: rotate(360deg); }
}

@keyframes rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.clock-case,
.clock-case-back,
.clock-dial,
.clock-second-hand,
.clock-minute-hand,
.clock-hour-hand,
.clock-zenit-hand,
.clock-horizon,
.clock-nut {
	position: absolute;
}

.clock {
	display: block;
	margin: 2vh auto;
	max-width: 80vh;
	min-height: 80vh;
	height: auto;
	position: relative;
 	-webkit-animation-name: zoomInDown;
 	   -moz-animation-name: zoomInDown;
 	   	 -o-animation-name: zoomInDown;
			animation-name: zoomInDown;
			
	-webkit-animation-delay: .5s;
	   -moz-animation-delay: .5s;
	     -o-animation-delay: .5s;
			animation-delay: .5s;
			
	-webkit-animation-duration: .25s;
	   -moz-animation-duration: .25s;
	     -o-animation-duration: .25s;
	        animation-duration: .25s;
	        
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
	        
	-webkit-perspective: 1200px;
	   -moz-perspective: 1200px;
	   	 -o-perspective: 1200px;
			perspective: 1200px;
}
@media screen and (max-width: 800px) {
	.clock {
	}
}
.clock-case,
.clock-case-back {
	background-color: #ffffff;
	border: 1px solid #ddd;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	
	-webkit-animation: fadeIn .25s ease both;
	-moz-animation: fadeIn .25s ease both;
	-o-animation: fadeIn .25s ease both;
	animation: fadeIn .25s ease both;
		
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
		 -o-transform-style: preserve-3d;
			transform-style: preserve-3d;
	
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	     -o-backface-visibility: hidden;
			backface-visibility: hidden;

	-webkit-transition: all .3s ease-in-out;
	   -moz-transition: all .3s ease-in-out;
		 -o-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
}

.clock-case {
	padding: 1%;
	z-index: 8;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	   -moz-transform: rotateX(0deg) rotateY(0deg);
	     -o-transform: rotateX(0deg) rotateY(0deg);
			transform: rotateX(0deg) rotateY(0deg);
}
.clock input:checked ~ .clock-case {
	z-index: 7;
	-webkit-transform: rotateY(-180deg);
	    -moz-transform: rotateY(-180deg);
		  -o-transform: rotateY(-180deg);
			transform: rotateY(-180deg);
			
	-webkit-animation: fadeOut .25s ease both;
	-moz-animation: fadeOut .25s ease both;
	-o-animation: fadeOut .25s ease both;
	animation: fadeOut .25s ease both;
}
.clock-case-back {
	padding: 1%;
	z-index: 7;
	-webkit-transform: rotateY(180deg);
	   -moz-transform: rotateY(180deg);
	   -o-transform: rotateY(180deg);
			transform: rotateY(180deg);
	background-image: linear-gradient(37deg, #cccccc 4.55%, #ffffff 4.55%, #ffffff 50%, #cccccc 50%, #cccccc 54.55%, #ffffff 54.55%, #ffffff 100%);
	background-size: 11.00px 8.29px;
}
.clock input:checked ~ .clock-case-back {
	z-index: 8;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
	transform: rotateX(0deg) rotateY(0deg);
}

.clock-dial {
  position: relative;
}

.clock-ratio {
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
}

.clock-second-hand,
.clock-minute-hand,
.clock-hour-hand,
.clock-zenit-hand,
.clock-horizon {
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	box-shadow: 1px 1px 5px rgba(0,0,0,.1);
}
.clock-second-hand {
	background-image: url('../dials/seconds.png');
	width: 100%;
	height: 100%;
	top: 0; left: 0;
	-webkit-animation: rotation 60s infinite linear;
	-moz-animation: rotation 60s infinite linear;
	-o-animation: rotation 60s infinite linear;
	animation: rotation 60s infinite linear;
}

.clock-minute-hand {
	background-image: url('../dials/minutes.png');
	width: 61%;
	height: 61%;
	left: 19.5%; top: 19.5%;
	-webkit-animation: rotation 3600s infinite linear;
	-moz-animation: rotation 3600s infinite linear;
	-o-animation: rotation 3600s infinite linear;
	animation: rotation 3600s infinite linear;
}

.clock-hour-hand {
	background-image: url('../dials/hours.png');
	width: 36%;
	height: 36%;
	left: 32%; top: 32%;
	-webkit-animation: rotation 43200s infinite linear;
	-moz-animation: rotation 43200s infinite linear;
	-o-animation: rotation 43200s infinite linear;
	animation: rotation 43200s infinite linear;
}
.clock-zenit-hand,
.clock-horizon {
	width: 22%;
	height: 22%;
	left: 39%; top: 39%;
}
.clock-zenit-hand {
	background-image: url('../dials/zenit.png');
	-webkit-animation: rotation 86400s infinite linear;
	-moz-animation: rotation 86400s infinite linear;
	-o-animation: rotation 86400s infinite linear;
	animation: rotation 86400s infinite linear;
}
.clock-horizon {
	background-image: url('../dials/horizon.png');
}
.clock-nut {
	border: 2px solid #ddd;
	top: 48%;
	left: 48%;
	width: 4%;
	height: 4%;
}

.clock-back {
	display: block;
	padding: 50%;
	position: relative;
}

.clock-data {
	display: block;
	position: absolute;
	top: 40%;
	left: 0;
	padding-top: 1em;
	width: 100%;
}
.clock-data h3 {
	font-size: 3em;
	font-weight: 200;
	letter-spacing: .1em;
	text-align: center;	
}
@media screen and (max-width: 767px) , screen and (max-height: 600px) {
	.clock-data {
		top: 15%;
	}
	.clock-data h3 {
		font-size: 1em;
		margin: 0;
	}
	.clock-data p {
		font-size: .8em;
	}
}
.clock * {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	     -o-border-radius: 50%;
			border-radius: 50%;
}



/* Moon */

.moon { fill:#D6D5C0; }
.moonback { fill:black;stroke:#fff;stroke-width:1px; }



/* Solaris, the solar system  */

/* Solaris (global position) */

.solaris {
	display: block;
	margin: 16px auto;
	padding: 120px 0;
	text-align: center;
	z-index: 1;
}

/* Solar System Styles */

.system-legend {
	visibility: hidden;
	opacity: 0;
	font-size: 24px;
	line-height: 36px;
    -webkit-transition: all 2s ease-in;
    -moz-transition: all 2s ease-in;
    -o-transition: all 2s ease-in;
    transition: all 2s ease-in;
}
.system-legend span {
	display: inline-block;
	margin: 0 16px;
}
ul.solarsystem {
    display: block;
    height: 700px;
    width: 700px;
	max-width: 80vh;
	max-height: 80vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    list-style: none;
    -webkit-transition: all 2s ease-in;
    -moz-transition: all 2s ease-in;
    -o-transition: all 2s ease-in;
    transition: all 2s ease-in;
    perspective: 700px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.solaris input:checked ~ ul.solarsystem {
	-webkit-transform: rotateX(50deg) translateZ(-200px) translateY(-200px);
	-moz-transform: rotateX(50deg) translateZ(-200px) translateY(-200px);
	-o-transform: rotateX(50deg) translateZ(-200px) translateY(-200px);
	transform: rotateX(50deg) translateZ(-200px) translateY(-200px);
}
.solaris input:checked ~ .system-legend {
	visibility: visible;
	opacity: 100;
}
@media screen and (max-width: 767px) , screen and (max-height: 600px) {
	ul.solarsystem {
    	height: 480px;
    	width: 480px;
	}
}
ul.solarsystem li {
    text-indent: -9999px;
    display: block;
    position: absolute;
    border: 2px solid #dddddd;
    opacity: 0.7;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
ul.solarsystem li span {
    display: block;
    position: absolute;
    width: 3%;
    height: 3%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
ul.solarsystem li.active {
    border-color: #999;
}
ul.solarsystem li.active.sun,
ul.solarsystem li.active span {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}
ul.solarsystem li.active.sun span,
ul.solarsystem li.active.earth .moon {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
ul.solarsystem li.sun {
    width: 5%;
    height: 5%;
    background: #ffffff;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.22, rgb(204,153,0)), color-stop(1, rgb(255,219,112)) );
	background-image: -moz-linear-gradient( center bottom, rgb(204,153,0) 22%, rgb(255,219,112) 100% );
	background-image: -o-linear-gradient( center bottom, rgb(204,153,0) 22%, rgb(255,219,112) 100% );
	background-image: linear-gradient( center bottom, rgb(204,153,0) 22%, rgb(255,219,112) 100% );
    top: 47%;
    left: 47.5%;
    border: none;
    -webkit-box-shadow: 0 0 30px #c90;
    -moz-box-shadow: 0 0 30px #c90;
    box-shadow: 0 0 30px #c90;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
ul.solarsystem li.sun span {
    width: 10%;
    height: 10%; 
}
ul.solarsystem li.mercury {
    width: 16%;
    height: 16%;
    top: 42%;
    left: 42%;
}
ul.solarsystem li.mercury span {
    background: #b6bac5;
    top: 20%;
    left: 7%;
}
ul.solarsystem li.venus {
    width: 20%;
    height: 20%;
    top: 40%;
    left: 40%;
}
ul.solarsystem li.venus span {
    background: #bf8639;
    top: 28%;
    left: 2%;
}
ul.solarsystem li.earth {
    width: 30%;
    height: 30%;
    top: 35%;
    left: 35%;
}
ul.solarsystem li.earth span {
    background: #06c;
    top:30%;
    left: 2%;
    width: 4%;
    height: 4%;
}
ul.solarsystem li.earth span.moon {
    width: 90%;
    height: 90%;
    background: #ccc;
    top: 110%;
    left: 110%;
}
ul.solarsystem li.mars {
    width: 36%;
    height: 36%;
    top: 32%;
    left: 32%;
}
ul.solarsystem li.mars span {
    background: #aa4200;
    top: 0px;
    left: 35%;
}
ul.solarsystem li.asteroids_meteorids {
    top: 27%;
    left: 27%;
    background: url('../img/asteroids_meteorids.png') no-repeat 0 0;
    background-size:100%;
    width: 46%;
    height: 46%;
    border: none;
    opacity: 0.1;
}
ul.solarsystem li.jupiter {
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
}
ul.solarsystem li.jupiter span {
    background: #e0ae6f;
    top: 24%;
    left: 5%;
    width: 4%;
    height: 4%;
}
ul.solarsystem li.saturn {
    width: 60%;
    height: 60%;
    top: 20%;
    left: 20%;
}
ul.solarsystem li.saturn span {
    background: #dfd3a9;
    top: 4%;
    left: 25%;
}
ul.solarsystem li.saturn span.ring {
    width: 180%;
    height: 180%;
    background: none;
    border: 2px solid #5a4e34;
    left: -42%;
    top: -42%;
}
ul.solarsystem li.uranus {
    width: 70%;
    height: 70%;
    top: 15%;
    left: 15%;
}
ul.solarsystem li.uranus span {
    background: #82b3d1;
    top: 1%;
    left: 32%;
}
ul.solarsystem li.neptune {
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
}
ul.solarsystem li.neptune span {
    background: #77c2ec;
    top: 14%;
    left: 12%;
}
ul.solarsystem li.pluto {
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
}
ul.solarsystem li.pluto span {
    background: #7c6a5c;
    top: 26%;
    left: 5%;
    width: 1%;
    height: 1%;
}

/* CSS3 Animations */
ul.solarsystem li {
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -webkit-animation-name:orbit;
    
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
    -moz-animation-name:orbit;
}
ul.solarsystem li.earth span {
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -webkit-animation-name:moon;
    
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
    -moz-animation-name:moon;
}
ul.solarsystem li.mercury {-webkit-animation-duration:5s; -moz-animation-duration:5s;}
ul.solarsystem li.venus {-webkit-animation-duration:8s; -moz-animation-duration:8s;}
ul.solarsystem li.earth {-webkit-animation-duration:12s; -moz-animation-duration:12s;}
ul.solarsystem li.earth span {-webkit-animation-duration:2s; -moz-animation-duration:2s;}
ul.solarsystem li.mars {-webkit-animation-duration:20s; -moz-animation-duration:20s;}
ul.solarsystem li.asteroids_meteorids {-webkit-animation-duration:50s; -moz-animation-duration:50s;}
ul.solarsystem li.jupiter {-webkit-animation-duration:30s; -moz-animation-duration:30s;}
ul.solarsystem li.saturn {-webkit-animation-duration:60s; -moz-animation-duration:60s;}
ul.solarsystem li.uranus {-webkit-animation-duration:70s; -moz-animation-duration:70s;}
ul.solarsystem li.neptune {-webkit-animation-duration:100s; -moz-animation-duration:100s;}
ul.solarsystem li.pluto {-webkit-animation-duration:120s; -moz-animation-duration:120s;}

@-webkit-keyframes orbit { from { -webkit-transform:rotate(0deg) } to { -webkit-transform:rotate(360deg) } }
@-webkit-keyframes moon { from { -webkit-transform:rotate(0deg) } to { -webkit-transform:rotate(360deg) } }

@-moz-keyframes orbit { from { -moz-transform:rotate(0deg) } to { -moz-transform:rotate(360deg) } }
@-moz-keyframes moon { from { -moz-transform:rotate(0deg) } to { -moz-transform:rotate(360deg) } }

/*ul.solarsystem:hover li {-webkit-animation-play-state: paused;} */

/* Atom */

.atom {
	border: 1px solid #333;
	border-radius: 50%;
	clear: both;
	display: block;
	height: 400px;
	width: 400px;
	margin: 120px auto;
	overflow: hidden;
	position: relative;
	-webkit-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
	-webkit-animation: rotation 10s infinite linear;
	-moz-animation: rotation 10s infinite linear;
	-o-animation: rotation 10s infinite linear;
	animation: rotation 10s infinite linear;
}
@media screen and (max-width: 767px) , screen and (max-height: 600px) {
	.atom {
		margin: 240px auto;
		height: 220px;
		width: 220px;
	}
}
.atom > div {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -100px;
	border-radius: 50%;
	border: 1px solid #333;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
		  transform-style: preserve-3d;
	-webkit-transform: rotateX(80deg) rotateY(20deg);
	-moz-transform: rotateX(80deg) rotateY(20deg);
	-o-transform: rotateX(80deg) rotateY(20deg);
		  transform: rotateX(80deg) rotateY(20deg);
}
.atom > div:first-of-type:after {
	content: "";
	position: absolute;
	height: 30px;
	width: 30px;
	background: #333;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	margin-top: -15px;
	margin-left: -15px;
	-webkit-transform: rotateX(-80deg) rotateY(0);
	-moz-transform: rotateX(-80deg) rotateY(0);
	-o-transform: rotateX(-80deg) rotateY(0);
		  transform: rotateX(-80deg) rotateY(0);
	box-shadow: 0 0 25px #333;
	-webkit-animation: nucleus_ 2s infinite linear;
	-moz-animation: nucleus_ 2s infinite linear;
	-o-animation: nucleus_ 2s infinite linear;
		  animation: nucleus_ 2s infinite linear;
}
.atom > div:nth-of-type(2) {
	-webkit-transform: rotateX(-80deg) rotateY(20deg);
	-moz-transform: rotateX(-80deg) rotateY(20deg);
	-o-transform: rotateX(-80deg) rotateY(20deg);
		  transform: rotateX(-80deg) rotateY(20deg);
}
.atom > div:nth-of-type(2) > div,
.atom > div:nth-of-type(2) > div:after {
	-webkit-animation-delay: -.5s;
	-moz-animation-delay: -.5s;
	-o-animation-delay: -.5s;
		  animation-delay: -.5s;
}
.atom > div:nth-of-type(3) {
	-webkit-transform: rotateX(-70deg) rotateY(60deg);
	-moz-transform: rotateX(-70deg) rotateY(60deg);
	-o-transform: rotateX(-70deg) rotateY(60deg);
		  transform: rotateX(-70deg) rotateY(60deg);
}
.atom > div:nth-of-type(3) > div,
.atom > div:nth-of-type(3) > div:after {
	-webkit-animation-delay: -1s;
	-moz-animation-delay: -1s;
	-o-animation-delay: -1s;
		  animation-delay: -1s;
}
.atom > div:nth-of-type(4) {
	-webkit-transform: rotateX(70deg) rotateY(60deg);
	-moz-transform: rotateX(70deg) rotateY(60deg);
	-o-transform: rotateX(70deg) rotateY(60deg);
		  transform: rotateX(70deg) rotateY(60deg);
}
.atom > div:nth-of-type(4) > div,
.atom > div:nth-of-type(4) > div:after {
	-webkit-animation-delay: -1.5s;
	-moz-animation-delay: -1.5s;
	-o-animation-delay: -1.5s;
		  animation-delay: -1.5s;
}
.atom > div > div {
	width: 200px;
	height: 200px;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
		  transform-style: preserve-3d;
	-webkit-animation: trail_ 2s infinite linear;
		  animation: trail_ 2s infinite linear;
}
.atom > div > div:after {
	content: "";
	position: absolute;
	top: -5px;
	box-shadow: 0 0 12px #ddd;
	left: 50%;
	margin-left: -5px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #ddd;
	-webkit-animation: particle_ 2s infinite linear;
	-moz-animation: particle_ 2s infinite linear;
	-o-animation: particle_ 2s infinite linear;
		  animation: particle_ 2s infinite linear;
}

@-webkit-keyframes trail_ {
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes trail_ {
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
@-webkit-keyframes particle_ {
  from {
    -webkit-transform: rotateX(90deg) rotateY(0deg);
    -moz-transform: rotateX(90deg) rotateY(0deg);
    -o-transform: rotateX(90deg) rotateY(0deg);
            transform: rotateX(90deg) rotateY(0deg);
  }
  to {
    -webkit-transform: rotateX(90deg) rotateY(-360deg);
    -moz-transform: rotateX(90deg) rotateY(-360deg);
    -o-transform: rotateX(90deg) rotateY(-360deg);
            transform: rotateX(90deg) rotateY(-360deg);
  }
}
@keyframes particle_ {
  from {
    -webkit-transform: rotateX(90deg) rotateY(0deg);
    -moz-transform: rotateX(90deg) rotateY(0deg);
    -o-transform: rotateX(90deg) rotateY(0deg);
            transform: rotateX(90deg) rotateY(0deg);
  }
  to {
    -webkit-transform: rotateX(90deg) rotateY(-360deg);
    -moz-transform: rotateX(90deg) rotateY(-360deg);
    -o-transform: rotateX(90deg) rotateY(-360deg);
            transform: rotateX(90deg) rotateY(-360deg);
  }
}
@-webkit-keyframes nucleus_ {
  0%, 100% {
    box-shadow: 0 0 0 transparent;
  }
  50% {
    box-shadow: 0 0 25px #ddd;
  }
}
@keyframes nucleus_ {
  0%, 100% {
    box-shadow: 0 0 0 transparent;
  }
  50% {
    box-shadow: 0 0 25px #ddd;
  }
}

/* Compass */

#compass-alert {
	margin-top: 100px;
	text-align: center;
}
#compass {
	background-image: url('../dials/bgcompass.png');
	background-size: 100%;
	border-radius: 50%;
	display: block;
	width: 800px;
	height: 800px;
	position: relative;
	margin: 20px auto 0 auto;
}
@media screen and (max-width: 767px) , screen and (max-height: 600px) {
	#compass {
    	height: 480px;
    	width: 480px;
	}
}
.north {
	background-image: url('../dials/compass.png');
	background-size: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.south {
	display: none;
}
#meta {
	margin-top: 20px;
	text-align: center;
}