/* KTR - DNA CSS by Acózar 2018 */

/* Version 1.0 */
/* General MIT License (MIT) */
/* Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions: */
/* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. */
/* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. */

/* Inspired in ~sanitize.css - http://nicolasgallagher.com/micro-clearfix-hack/ */

.dna-box {
	display: block;
	margin: 0 auto 64px;
	text-align: center;
}

.dna {
  width: 150px;
  height: 400px;
  -webkit-perspective: 2500px;
          perspective: 2500px;
}

.bases {
  width: 180px;
  height: 15px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: center center 0;
          transform-origin: center center 0;
  animation: spin 4000ms reverse linear infinite;
  background-size: 100% 3px;
  background-position: 0 5px;
  background-repeat: no-repeat;
}
.bases:before, .bases:after {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-animation: spin 4000ms linear infinite;
          animation: spin 4000ms linear infinite;
  content: '';
}
.bases:before {
  -webkit-transform: translate(-5px, -5px);
          transform: translate(-5px, -5px);
}
.bases:after {
  float: right;
  -webkit-transform: translate(5px, 3px);
          transform: translate(5px, 3px);
}
.bases:nth-of-type(0) {
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}
.bases:nth-of-type(0):before, .bases:nth-of-type(0):after {
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}
.bases:nth-of-type(1) {
  -webkit-animation-delay: -173.9130434783ms;
          animation-delay: -173.9130434783ms;
}
.bases:nth-of-type(1):before, .bases:nth-of-type(1):after {
  -webkit-animation-delay: -173.9130434783ms;
          animation-delay: -173.9130434783ms;
}
.bases:nth-of-type(2) {
  -webkit-animation-delay: -347.8260869565ms;
          animation-delay: -347.8260869565ms;
}
.bases:nth-of-type(2):before, .bases:nth-of-type(2):after {
  -webkit-animation-delay: -347.8260869565ms;
          animation-delay: -347.8260869565ms;
}
.bases:nth-of-type(3) {
  -webkit-animation-delay: -521.7391304348ms;
          animation-delay: -521.7391304348ms;
}
.bases:nth-of-type(3):before, .bases:nth-of-type(3):after {
  -webkit-animation-delay: -521.7391304348ms;
          animation-delay: -521.7391304348ms;
}
.bases:nth-of-type(4) {
  -webkit-animation-delay: -695.652173913ms;
          animation-delay: -695.652173913ms;
}
.bases:nth-of-type(4):before, .bases:nth-of-type(4):after {
  -webkit-animation-delay: -695.652173913ms;
          animation-delay: -695.652173913ms;
}
.bases:nth-of-type(5) {
  -webkit-animation-delay: -869.5652173913ms;
          animation-delay: -869.5652173913ms;
}
.bases:nth-of-type(5):before, .bases:nth-of-type(5):after {
  -webkit-animation-delay: -869.5652173913ms;
          animation-delay: -869.5652173913ms;
}
.bases:nth-of-type(6) {
  -webkit-animation-delay: -1043.4782608696ms;
          animation-delay: -1043.4782608696ms;
}
.bases:nth-of-type(6):before, .bases:nth-of-type(6):after {
  -webkit-animation-delay: -1043.4782608696ms;
          animation-delay: -1043.4782608696ms;
}
.bases:nth-of-type(7) {
  -webkit-animation-delay: -1217.3913043478ms;
          animation-delay: -1217.3913043478ms;
}
.bases:nth-of-type(7):before, .bases:nth-of-type(7):after {
  -webkit-animation-delay: -1217.3913043478ms;
          animation-delay: -1217.3913043478ms;
}
.bases:nth-of-type(8) {
  -webkit-animation-delay: -1391.3043478261ms;
          animation-delay: -1391.3043478261ms;
}
.bases:nth-of-type(8):before, .bases:nth-of-type(8):after {
  -webkit-animation-delay: -1391.3043478261ms;
          animation-delay: -1391.3043478261ms;
}
.bases:nth-of-type(9) {
  -webkit-animation-delay: -1565.2173913043ms;
          animation-delay: -1565.2173913043ms;
}
.bases:nth-of-type(9):before, .bases:nth-of-type(9):after {
  -webkit-animation-delay: -1565.2173913043ms;
          animation-delay: -1565.2173913043ms;
}
.bases:nth-of-type(10) {
  -webkit-animation-delay: -1739.1304347826ms;
          animation-delay: -1739.1304347826ms;
}
.bases:nth-of-type(10):before, .bases:nth-of-type(10):after {
  -webkit-animation-delay: -1739.1304347826ms;
          animation-delay: -1739.1304347826ms;
}
.bases:nth-of-type(11) {
  -webkit-animation-delay: -1913.0434782609ms;
          animation-delay: -1913.0434782609ms;
}
.bases:nth-of-type(11):before, .bases:nth-of-type(11):after {
  -webkit-animation-delay: -1913.0434782609ms;
          animation-delay: -1913.0434782609ms;
}
.bases:nth-of-type(12) {
  -webkit-animation-delay: -2086.9565217391ms;
          animation-delay: -2086.9565217391ms;
}
.bases:nth-of-type(12):before, .bases:nth-of-type(12):after {
  -webkit-animation-delay: -2086.9565217391ms;
          animation-delay: -2086.9565217391ms;
}
.bases:nth-of-type(13) {
  -webkit-animation-delay: -2260.8695652174ms;
          animation-delay: -2260.8695652174ms;
}
.bases:nth-of-type(13):before, .bases:nth-of-type(13):after {
  -webkit-animation-delay: -2260.8695652174ms;
          animation-delay: -2260.8695652174ms;
}
.bases:nth-of-type(14) {
  -webkit-animation-delay: -2434.7826086957ms;
          animation-delay: -2434.7826086957ms;
}
.bases:nth-of-type(14):before, .bases:nth-of-type(14):after {
  -webkit-animation-delay: -2434.7826086957ms;
          animation-delay: -2434.7826086957ms;
}
.bases:nth-of-type(15) {
  -webkit-animation-delay: -2608.6956521739ms;
          animation-delay: -2608.6956521739ms;
}
.bases:nth-of-type(15):before, .bases:nth-of-type(15):after {
  -webkit-animation-delay: -2608.6956521739ms;
          animation-delay: -2608.6956521739ms;
}
.bases:nth-of-type(16) {
  -webkit-animation-delay: -2782.6086956522ms;
          animation-delay: -2782.6086956522ms;
}
.bases:nth-of-type(16):before, .bases:nth-of-type(16):after {
  -webkit-animation-delay: -2782.6086956522ms;
          animation-delay: -2782.6086956522ms;
}
.bases:nth-of-type(17) {
  -webkit-animation-delay: -2956.5217391304ms;
          animation-delay: -2956.5217391304ms;
}
.bases:nth-of-type(17):before, .bases:nth-of-type(17):after {
  -webkit-animation-delay: -2956.5217391304ms;
          animation-delay: -2956.5217391304ms;
}
.bases:nth-of-type(18) {
  -webkit-animation-delay: -3130.4347826087ms;
          animation-delay: -3130.4347826087ms;
}
.bases:nth-of-type(18):before, .bases:nth-of-type(18):after {
  -webkit-animation-delay: -3130.4347826087ms;
          animation-delay: -3130.4347826087ms;
}
.bases:nth-of-type(19) {
  -webkit-animation-delay: -3304.347826087ms;
          animation-delay: -3304.347826087ms;
}
.bases:nth-of-type(19):before, .bases:nth-of-type(19):after {
  -webkit-animation-delay: -3304.347826087ms;
          animation-delay: -3304.347826087ms;
}
.bases:nth-of-type(20) {
  -webkit-animation-delay: -3478.2608695652ms;
          animation-delay: -3478.2608695652ms;
}
.bases:nth-of-type(20):before, .bases:nth-of-type(20):after {
  -webkit-animation-delay: -3478.2608695652ms;
          animation-delay: -3478.2608695652ms;
}
.bases:nth-of-type(21) {
  -webkit-animation-delay: -3652.1739130435ms;
          animation-delay: -3652.1739130435ms;
}
.bases:nth-of-type(21):before, .bases:nth-of-type(21):after {
  -webkit-animation-delay: -3652.1739130435ms;
          animation-delay: -3652.1739130435ms;
}
.bases:nth-of-type(22) {
  -webkit-animation-delay: -3826.0869565217ms;
          animation-delay: -3826.0869565217ms;
}
.bases:nth-of-type(22):before, .bases:nth-of-type(22):after {
  -webkit-animation-delay: -3826.0869565217ms;
          animation-delay: -3826.0869565217ms;
}
.bases:nth-of-type(23) {
  -webkit-animation-delay: -4000ms;
          animation-delay: -4000ms;
}
.bases:nth-of-type(23):before, .bases:nth-of-type(23):after {
  -webkit-animation-delay: -4000ms;
          animation-delay: -4000ms;
}
.bases.at {
  background-image: linear-gradient(to right, transparent 10%, #717ec3 10%, #717ec3 50%, #edd382 50%, #edd382 90%, transparent 90%);
}
.bases.at:before {
  background: #edd382;
}
.bases.at:after {
  background: #717ec3;
}
.bases.cg {
  background-image: linear-gradient(to right, transparent 10%, #85ffc7 10%, #85ffc7 50%, #ff6f59 50%, #ff6f59 90%, transparent 90%);
}
.bases.cg:before {
  background: #ff6f59;
}
.bases.cg:after {
  background: #85ffc7;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

/* The end */