<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		
		<!-- Metadata -->
		<title>Acózar</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Revolutionary CSS framework with no more classes!">
		<meta name="keywords" content="CSS semantic component library">
		<meta name="author" content="Acózar">
		
		<!-- Metadata: GeoTags -->
		<meta name="geo.region" content="Catalunya">
		<meta name="geo.placename" content="Barcelona">
		<meta name="geo.position" content="41.426812,2.234972">
		<meta name="ICBM" content="41.426812;2.234972">
		
		<!-- Screen styles -->
		<link href="../src/styles/screen.css" rel="stylesheet" media="screen">
		<link href="../src/styles/components.css" rel="stylesheet" media="screen">
		<link href="../src/styles/ktr-skin.css" rel="stylesheet" media="screen">
		<link href="../src/styles/ktr-clock.css" rel="stylesheet" media="screen">
		<link href="../src/styles/ktr-solar-system.css" rel="stylesheet" media="screen">
		<link href="../src/styles/ktr-atom.css" rel="stylesheet" media="screen">
		<link href="../src/styles/ktr-compass.css" rel="stylesheet" media="screen">
		<link href="https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica" rel="stylesheet">
		
		<!-- Print styles -->
		<link href="../src/styles/print.css" rel="stylesheet" media="print">
		
		<!-- If iexplorer :( -->
		<!--[if lt IE 9]><script src="../src/styles/html5shiv.js"></script><![endif]-->
		<!--[if IE]><link rel="stylesheet" type="text/css" href="../src/styles/iexplorer.css" /><![endif]-->
	
		<!-- No Script styles -->		
		<noscript><link href="../src/styles/noscript.css" rel="stylesheet" media="screen"></noscript>
		
		<!-- Site Feed -->
		<link rel="alternate" type="application/rss+xml" title="rss" href="FeedUrl">
		
		<!-- Page Icons -->
		<link rel="apple-touch-icon" sizes="180x180" href="../src/ics/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../src/ics/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../src/ics/favicon-16x16.png">
		<link rel="manifest" href="../src/ics/site.webmanifest">
		<link rel="mask-icon" href="../src/ics/safari-pinned-tab.svg" color="#777777">
		<link rel="shortcut icon" href="../src/ics/favicon.ico">
		<meta name="msapplication-TileColor" content="#eeeeee">
		<meta name="msapplication-config" content="../src/ics/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
		
	</head>
	<body>
				
		<!-- Theme inputs (invisibles) -->		
		<input type="radio" id="theme-aurora" name="theme" aria-hidden="true" hidden>
		<input type="radio" id="theme-meridianus" name="theme" aria-hidden="true" hidden>
		<input type="radio" id="theme-vesperum" name="theme" aria-hidden="true" hidden>
		<input type="radio" id="theme-nox" name="theme" aria-hidden="true" hidden> 
					
		<!-- Page content -->		
		<div id="page" class="page">
			
			<header>
				<div class="clock">
					<input type="checkbox" id="clock-1" name="flip-clock" hidden>
					<div class="ktr-display">
						<p>σκέψης λέξη πράξη</p>
					</div>
					<div class="clock-case">
						<div class="clock-dial">
							<div class="clock-second-hand"></div>
							<div class="clock-minute-hand"></div>
							<div class="clock-hour-hand"></div>
							<div class="clock-zenit-hand"></div>
							<div class="clock-horizon"></div>
							<div class="clock-nut"></div>
							<div class="clock-ratio"></div>
						</div>
					</div>
					<div class="clock-case-back">
						<div class="clock-back">
							<div class="clock-data">
								<h3><a href="http://www.acozar.com" title="www.acozar.com">www.acozar.com</a></h3>
								<p><a href="mailto:info@acozar.com">info@acozar.com</a></p>
							</div>
						</div>
					</div>
					<hr>
					<span class="ktr-button-section"><em><label for="clock-1" title="Info"><span>&#4042;</span></label></em></span>
				</div>
				<hr>
			</header>
			<hr>
			<header id="page-header">
				<div>
					<h1><a href="http://www.acozar.com" title="www.acozar.com">www.acozar.com</a></h1>
					<p><a href="mailto:info@acozar.com">info@acozar.com</a></p>
				</div>
			</header>
			<hr>
			<main id="page-main">
				<div>
					
					<section id="compass-system">
						<div class="compass-system">
							<div class="center">
								<h3>Oriens</h3>
								<div class="demo init-step animated">
									<div class="notice init">
										<span class="notice-wrap"><span class="compass-icon"></span>Detecting compass support</span>
									</div>
									<div class="notice no-support">
										<span class="notice-wrap"><span class="compass-icon"></span>Open on mobile phone, to view compass example</span>
									</div>
									<div class="notice gps">
										<span class="notice-wrap"><span class="compass-icon"></span>GPS Hack step 1. Go outside to get GPS signal.</span>
									</div>
									<div class="notice move">
										<span class="notice-wrap"><span class="compass-icon"></span>GPS Hack step 2. Go forward to take initialized heading from GPS.</span>
									</div>
									<div class="compass">
										<div class="circle"></div>
										<div class="arrow"><div class="letter">N</div></div>
										<div class="degrees"><span class="value">0</span><span class="mark">°</span>
									</div>
								</div>
								<hr>
							</div>
						</div>
						<hr>
					</section>
					<hr>
					<section id="solar-system">
						<div class="solar-system-canvas">
							<input type="checkbox" id="solar-canvas" name="solar-canvas" hidden>
							<div class="solar-system-legend">
								<h3>Orbis</h3>
								<span class="txt-color-blue">&#9793; Terra</span>
								<span class="txt-color-yellow">&#8857; Solis</span>
								<span class="txt-color-grey">&#9790; Luna</span>
								<span class="txt-color-red">&#9794; Mars</span>
								<span class="txt-color-hardgrey">&#9791; Mercurius</span>
								<span class="txt-color-softorange">&#9795; Jovis</span>
								<span class="txt-color-orange">&#9792; Venus</span>
								<span class="txt-color-black">&#9796; Saturnus</span>
								<span class="txt-color-softblue">&#9954; Uranus</span>
								<span class="txt-color-violet">&#9798; Neptunium</span>
								<span class="txt-color-softblack">&#9799; Pluto</span>
							</div>
							<ul class="solar-system">
							  <li class="sun"><a href="#sun"><span>&#8857;</span></a></li>
							  <li class="mercury"><a href="#mercury"><span>&#9791;</span></a></li>
							  <li class="venus"><a href="#venus"><span>&#9792;</span></a></li>
							  <li class="earth"><a href="#earth"><span>&#9793;<span class="moon"> &amp; &#9790;</span></span></a></li>
							  <li class="mars"><a href="#mars"><span>&#9794;</span></a></li>
							  <li class="asteroids_meteorids"><span>.</span></li>
							  <li class="jupiter"><a href="#jupiter"><span>&#9795;</span></a></li>
							  <li class="saturn"><a href="#saturn"><span>&#9796; &amp; <span class="ring">O</span></span></a></li>
							  <li class="uranus"><a href="#uranus"><span>&#9954;</span></a></li>
							  <li class="neptune"><a href="#neptune"><span>&#9798;</span></a></li>
							  <li class="pluto"><a href="#pluto"><span>&#9799;</span></a></li>
							</ul>
							<span class="ktr-button-section"><em><label for="solar-canvas" title="Info"><span>&#10038;</span></label></em></span>
						</div>
					</section>	
					<hr>
					<section id="atom-system">
						<div class="atom-system">
							<input type="checkbox" id="atomic" name="atomic" hidden>
							<div class="atom">
								<div>
								  <div></div>
								</div>
								<div>
								  <div></div>
								</div>
								<div>
								  <div></div>
								</div>
								<div>
								  <div></div>
								</div>
							</div>
							<hr>
							<span class="ktr-button-section"><em><label for="atomic" title="Info"><span>&#9187;</span></label></em></span>
						</div>
					</section>
					<hr><hr>
					<section class="ktr-menu">
						<header>
							<h2><a href="http://www.acozar.com" title="www.acozar.com"><img src="../src/ics/icon.gif" alt="A"> Acózar</a></h2>
						</header>
						<div class="flex-grid-7">
							<figure>
								<a href="" title="Meditationes"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"> <g id="circle"> <g> <path class="st1" d="M32,15.4c9.2,0,16.6,7.5,16.6,16.6S41.2,48.6,32,48.6S15.4,41.2,15.4,32S22.8,15.4,32,15.4 M32,14.4 c-9.7,0-17.6,7.9-17.6,17.6S22.3,49.6,32,49.6S49.6,41.7,49.6,32S41.7,14.4,32,14.4L32,14.4z"/></g></g></svg><figcaption>Meditationes</figcaption></a>
							</figure>
							<figure>
								<a href="" title="Fabulae"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"> <g id="VESICULA"> <g> <g> <path class="st2" d="M23.1,15.4c9.2,0,16.6,7.5,16.6,16.6s-7.5,16.6-16.6,16.6S6.4,41.2,6.4,32S13.9,15.4,23.1,15.4 M23.1,14.4 c-9.7,0-17.6,7.9-17.6,17.6s7.9,17.6,17.6,17.6S40.7,41.7,40.7,32S32.8,14.4,23.1,14.4L23.1,14.4z"/></g><g><path class="st2" d="M40.2,15.4c9.2,0,16.6,7.5,16.6,16.6s-7.5,16.6-16.6,16.6S23.6,41.2,23.6,32S31,15.4,40.2,15.4 M40.2,14.4 c-9.7,0-17.6,7.9-17.6,17.6s7.9,17.6,17.6,17.6S57.8,41.7,57.8,32S49.9,14.4,40.2,14.4L40.2,14.4z"/></g></g></g></svg><figcaption>Fabulae</figcaption></a>
							</figure>
							<figure>
								<a href="" title="Numero"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"> <g id="triangle"> <g> <path class="st2" d="M32,17.5l17.3,30H14.7L32,17.5 M32,15.5l-19,33H51L32,15.5L32,15.5z"/></g></g></svg><figcaption>Numero</figcaption></a>
							</figure>
							<figure>
								<a href="" title="Verbis"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"> <g id="square"> <g> <path class="st2" d="M47.2,16.8v30.3H16.8V16.8H47.2 M48.2,15.8H15.8v32.3h32.3V15.8L48.2,15.8z"/></g></g></svg><figcaption>Verbis</figcaption></a>
							</figure>
							<figure>
								<a href="" title="Homines"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"> <g id="pentagon"> <g> <path class="st2" d="M32,16.1l16.8,12.2l-6.4,19.8H21.6l-6.4-19.8L32,16.1 M32,14.9L14,28l6.9,21.2h22.2L50,28L32,14.9L32,14.9z" /></g></g></svg><figcaption>Homines</figcaption></a>
							</figure>
							<figure>
								<a href="" title="Carmina"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"> <g id="hexagon"> <g> <path class="st2" d="M41.6,15.3L51.3,32l-9.6,16.7H22.4L12.7,32l9.6-16.7H41.6 M42.2,14.3H21.8L11.6,32l10.2,17.7h20.4L52.4,32 L42.2,14.3L42.2,14.3z"/></g></g></svg><figcaption>Carmina</figcaption></a>
							</figure>
							<figure>
								<a href="" title="Actum"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"> <style type="text/css"> .st3{fill:none;stroke:currentColor;stroke-width:0.9111;stroke-miterlimit:10;} </style> <g id="heptagon"> <polygon class="st3" points="32,12.5 15.1,20.2 11,37.6 22.6,51.5 41.4,51.5 53,37.6 48.9,20.2"/></g></svg></a>
							</figure>
							<hr>
						</div>
					</section>
					<hr>
				</div>
			</main>
			
			<!-- Footer -->
			<footer class="ktr-footer">
				<div>
					<h4>- DIALÈCTICA -</h4>
					<p>Blog de Pol Acózar</p>
					<p><a href="mailto:info@acozar.com" class="pophover" data-title="Mail">info@acozar.com</a></p>
					<p><a href="https://twitter.com/polacozar" class="pophover" data-title="Twitter">@polacozar</a></p>
					<p><a href="https://acozar.github.io/about/" class="pophover" data-title="Sobre mi">Info</a></p>
				</div>
			</footer>
			
			<footer id="page-footer">
				<div>
					<p>© <a href="http://acozar.com" class="pophover" data-title="www.acozar.com">Acózar</a> 2018. <a href="https://acozar.github.io/bcncss/" class="pophover" data-title="Made with Barcelona CSS">Barcelona CSS</a></p>
				</div>
			</footer>
			
		</div><!-- /#page -->
		  
		<!-- Out of page
		================================================== -->
		<!-- Fixed navigation -->		
		<div class="ktr-button-sun-bubble">
			<input id="sun-bubble" name="sun-bubble" type="checkbox" hidden>
			<span>
				<em><a class="th-tesis" href="http://blog.acozar.com/search/label/Tesis" data-title="Tesis"><img src="http://acozar.github.io/src/img/ktr-icons-tesis.png" alt="Tesis"></a></em>
				<em><a class="th-antitesis" href="http://blog.acozar.com/search/label/Antitesis" data-title="Antítesis"><img src="http://acozar.github.io/src/img/ktr-icons-antitesis.png" alt="Antítesis"></a></em>
				<em><a class="th-sintesis" href="http://blog.acozar.com/search/label/Sintesis" data-title="Síntesis"><img src="http://acozar.github.io/src/img/ktr-icons-sintesis.png" alt="Síntesis"></a></em>
				<em><a class="th-dialectica" href="http://acozar.github.io/codex/dialectica.html" data-title="Dialèctica"><img src="http://acozar.github.io/src/img/ktr-icons-dialectica.png" alt="Dialèctica"></a>
			</span>
			<em><label class="th-switcher" for="sun-bubble" title="Menú"><img src="../src/img/sun-burning.gif" alt="Menú"></label></em>
		</div>		
		<div class="ktr-button-moon-bubble">
			<input id="bubble" name="bubble" type="checkbox" hidden>
			<span>
				<em><label class="th-nox" for="theme-nox" data-title="Nox"></label></em>
				<em><label class="th-vesperum" for="theme-vesperum" data-title="Vesperum"></label></em>
				<em><label class="th-meridianus" for="theme-meridianus" data-title="Meridianus"></label></em>
				<em><label class="th-aurora" for="theme-aurora" data-title="Aurora"></label></em>
			</span>
			<em><label class="th-switcher" for="bubble" title="Themes"><svg id="moon" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" version="1.1"/></label></em>
		</div>		

		<!-- Dialog -->		
		<div>
			<input id="modal-one" type="checkbox" hidden>
			<dialog class="ktr-modal">
				<div>
					<span class="ktr-button-logo"><em><label for="modal-one" title="Menú">&#215;</label></em></span>
					<header>
						<h2><a href="http://www.acozar.com" title="www.acozar.com"><img src="../src/ics/icon.gif" alt="A"> Acózar</a></h2>
					</header>
					<div class="flex-grid-7 ktr-menu">
						<figure>
							<a href="" title="Meditationes"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"> <g id="circle"> <g> <path class="st1" d="M32,15.4c9.2,0,16.6,7.5,16.6,16.6S41.2,48.6,32,48.6S15.4,41.2,15.4,32S22.8,15.4,32,15.4 M32,14.4 c-9.7,0-17.6,7.9-17.6,17.6S22.3,49.6,32,49.6S49.6,41.7,49.6,32S41.7,14.4,32,14.4L32,14.4z"/></g></g></svg><figcaption>Meditationes</figcaption></a>
						</figure>
						<figure>
							<a href="" title="Fabulae"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"> <g id="VESICULA"> <g> <g> <path class="st2" d="M23.1,15.4c9.2,0,16.6,7.5,16.6,16.6s-7.5,16.6-16.6,16.6S6.4,41.2,6.4,32S13.9,15.4,23.1,15.4 M23.1,14.4 c-9.7,0-17.6,7.9-17.6,17.6s7.9,17.6,17.6,17.6S40.7,41.7,40.7,32S32.8,14.4,23.1,14.4L23.1,14.4z"/></g><g><path class="st2" d="M40.2,15.4c9.2,0,16.6,7.5,16.6,16.6s-7.5,16.6-16.6,16.6S23.6,41.2,23.6,32S31,15.4,40.2,15.4 M40.2,14.4 c-9.7,0-17.6,7.9-17.6,17.6s7.9,17.6,17.6,17.6S57.8,41.7,57.8,32S49.9,14.4,40.2,14.4L40.2,14.4z"/></g></g></g></svg><figcaption>Fabulae</figcaption></a>
						</figure>
						<figure>
							<a href="" title="Numero"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"> <g id="triangle"> <g> <path class="st2" d="M32,17.5l17.3,30H14.7L32,17.5 M32,15.5l-19,33H51L32,15.5L32,15.5z"/></g></g></svg><figcaption>Numero</figcaption></a>
						</figure>
						<figure>
							<a href="" title="Verbis"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"> <g id="square"> <g> <path class="st2" d="M47.2,16.8v30.3H16.8V16.8H47.2 M48.2,15.8H15.8v32.3h32.3V15.8L48.2,15.8z"/></g></g></svg><figcaption>Verbis</figcaption></a>
						</figure>
						<figure>
							<a href="" title="Homines"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"> <g id="pentagon"> <g> <path class="st2" d="M32,16.1l16.8,12.2l-6.4,19.8H21.6l-6.4-19.8L32,16.1 M32,14.9L14,28l6.9,21.2h22.2L50,28L32,14.9L32,14.9z" /></g></g></svg><figcaption>Homines</figcaption></a>
						</figure>
						<figure>
							<a href="" title="Carmina"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"> <g id="hexagon"> <g> <path class="st2" d="M41.6,15.3L51.3,32l-9.6,16.7H22.4L12.7,32l9.6-16.7H41.6 M42.2,14.3H21.8L11.6,32l10.2,17.7h20.4L52.4,32 L42.2,14.3L42.2,14.3z"/></g></g></svg><figcaption>Carmina</figcaption></a>
						</figure>
						<figure>
							<a href="" title="Actum"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"> <style type="text/css"> .st3{fill:none;stroke:currentColor;stroke-width:0.9111;stroke-miterlimit:10;} </style> <g id="heptagon"> <polygon class="st3" points="32,12.5 15.1,20.2 11,37.6 22.6,51.5 41.4,51.5 53,37.6 48.9,20.2"/></g></svg></a>
						</figure>
					</div>
				</div>
			</dialog>
		</div>

		<!-- Scripts
		================================================== -->
		<script src="../src/scripts/jquery.js" type="text/javascript"></script>
		<script src="../src/scripts/clock.js" type="text/javascript"></script>
		<script src="../src/scripts/moon-phase.js" type="text/javascript"></script>
		<script src="../src/scripts/compass.js" type="text/javascript"></script>
		<script src="../src/scripts/compass.exe.js" type="text/javascript"></script>
		<script src="../src/scripts/ga.js" type="text/javascript"></script>
	</body>
</html>
							