---
layout: default
---

<header id="page-header" class="ktr-header">
	<div class="content">
		<h6><a href="http://www.acozar.com" title="www.acozar.com">www.acozar.com</a></h6>
		<a href="https://acozar.github.io" title="Codex"><img src="https://acozar.github.io/src/img/ktr-icons-code.png" alt="Codi" class="ktr-logo"></a>
			<h1>{{ page.title }}</h1>
			<strong><small><time>{{ page.date | date: "%B %e, %Y" }}</time></small></strong>
	</div>
</header>

<main id="page-main">
	<div>
	
		<div class="article-body">
			<img src="{{ page.image }}" alt="{{ page.title }}">
			{{ content }}
			<hr>
		</div>
		
		<div class="ktr-landing-first">
			<blockquote>
				Res està quiet, 
				tot es mou, tot flueix, <br>
				dialècticament,
				com una conversa.
			</blockquote>
			<!-- Form -->
			<div class="collapser">
				<em><label for="collapser-1">CONVERSEM?</label></em>
				<input type="checkbox" id="collapser-1" name="checkcollapser" hidden>
				<div hidden>
					<form id="form5" name="form5" class="ktr-form" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://hipertextosbcn.wufoo.com/forms/s1n817r90e51qg8/#public">
						<ul>
							<li id="foli2">
								<label id="title2" for="Field2">Email<span id="req_2" class="req">*</span></label>
								<div>
									<input id="Field2" name="Field2" type="email" spellcheck="false" value="" maxlength="300" tabindex="2" placeholder="" required />
								</div>
							</li>
							<li id="foli3">
								<label id="title3" for="Field3">Missatge/Mensaje/Message<span id="req_3" class="req">*</span></label>
								<div>
									<textarea id="Field3" name="Field3" spellcheck="true" rows="5" cols="20" tabindex="3" onkeyup="" placeholder="" required></textarea>
								</div>
							</li> 
							<li>
								<div>
									<input id="saveForm" name="saveForm" type="submit" value="Ok"/>    
								</div>
							</li>
							<li hidden>
								<label for="comment">Do Not Fill This Out</label>
								<textarea name="comment" id="comment" rows="1" cols="1" hidden></textarea>
								<input type="hidden" id="idstamp" name="idstamp" value="zXsqKs1+e8OSNX5j5wphmNv03K3cWdMszALyPTuVe2c=" />
							</li>
						</ul>
					</form>
				</div>
			</div>
		</div>

	</div>
</main>